// 常用 class 样式表
.flex-between {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.img-span-middle {
    img {
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
    }
}

.overflow-hidden {
    overflow: hidden;
}
